RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule .* https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ https://%1/$1 [R=301,L]
AuthType Basic
AuthName "DontSpyAPI"
AuthUserFile "/home4/kd34167/.htpasswds/me.sfzlab.de/passwd"
require valid-user
